{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
    {{block.super}}
    
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color:rgb(165, 148, 19);"> 
    <div class="container text-center" style=" font-family: 'Fredoka One', cursive; background-color:white; color: black;">
    <h4 class="text-center">Thank you for registering as a volunteer for this cause! The credentials provided are currently being verified. You should expect an email notifying you that your account is active within 3 business days, after which you can log in and be able to connect with users in need of your services!</h4>
</div>
</div>
{% endblock %}