{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
            {% bootstrap_css %}
            <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color:rgb(165, 148, 19);"> 
    <div class="container text-center" style=" font-family: 'Fredoka One', cursive; background-color:white; color: black;">
<p>Sign up as a <a href="/accounts/signup/mhpro/">counsellor/therapist</a> or as a <a href="/accounts/signup/user/">regular user</a></p>
</div>
</div>
{% endblock %}